*{
    margin: 0;
}
.sexs{
    width:100vw ;
}
.personal-information{
    background-color: aqua;
    display: inline-block;
}

.contacts{
    background-color: aqua;
    display: inline-block;

} 
 
.education{
    background-color: aqua;
}